@font-face {
    font-family: lemonmilk;
    src: url(fonts/lemon_milk/LEMONMILK-Regular.otf);
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column; /* Sätter så att alla flex div-boxar i body stackas lodrätt / på höjden */
    height: 100%;
    margin: 0px; /* Tar bort kanten runt hemsidan */
    font-family: lemonmilk;
    background-image: url(images/gronmiljo.jpg); /* bakgrundsbild */
    background-size: cover; /* Gör så att bakgrundsbilden täcker hela sidan */
    background-repeat: no-repeat; /* Gör så att bakgrundsbilden ej upprepas */
}

/* class för att aktivera flexbox (Används knappt) */
.flexbox {
    display: flex;
    width: 100%;
    height: 80vw;
    margin-right: 0px;
}

/* Limegrön spalt längs högra sidan av article */
aside {
    width: 17vw;
    height: 100%;
    background-color: limegreen;
    color: white;
    margin-right: 0px;
}

aside h2 {
    text-align: center;
}

aside p {
    margin: 10px;
}

/* Behållaren för knapparna.  */
.menu {
    display: flex;
    justify-content: center; /* centerar elementen i menu (just nu knapparna) */
    margin-left: 10px;
    background-color: white;
    width: 20%;
    height: 30vw;
    border-radius: 25px;
}

.menu ul {
    display: block;
    position: absolute;
    padding: 0;
}

ul li {
    list-style-type:none;
    margin:15px 0;
    font-size: 2.5vw;
}

ul li a{
    text-decoration:none;
    font-family: lemonmilk;
    text-align: right;
}

ul a:link {
    color: limegreen;
    background-color: transparent;
    text-decoration: none;
}

ul a:visited {
    color: limegreen;
    background-color: transparent;
    text-decoration: none;
  }

ul a:hover {
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
  }

ul a:active {
    color: limegreen
    background-color: transparent;
    text-decoration: underline;
  }


/* Toppen av sidan där rubrik och underrubrik står */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    padding-bottom: 3vw;
    
}

.header-background {
    width: 100%;
    filter: blur(1px);
    
}

.header-text {
    position: absolute;
    top: 30%;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    color: white;
    margin: 0;
}

/* Huvudspalten som innehåller aside och article-content. Använder flexbox för att flytta runt på div-boxarna */
article {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Gör så att aside fyller hela höjden av article */
    position: absolute;
    margin-left: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: initial;
    background-color: white;
    width: 78%;
    min-height: 60vw;
    height: 100%;
    right: 0px;
}

.article-content {
    padding: 20px;
}
.article-content img {
    display: block;
    margin: 0 auto;
}

footer {
    text-align: right;
    height: 100px;
    width: 100%;
    background-color:grey;
    opacity: 75%;
}

footer p {
    padding-top: 40px;
    padding-right: 10px;
}

